global:
  scrape_interval: 30s

scrape_configs:
  - job_name: 'prometheus'
    scrape_interval: 30s
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'dns'
    scrape_interval: 30s
    static_configs:
      - targets: ['{{ dns_ip_address }}:8080']